carobg {
   
    width: 100%;
    padding-left: 0;
   

    display: flex;
        justify-content: center;
        /* Center content horizontally */
        align-items: center;


}

.img {
 width:990px; 
 height:600px;

}




.carousel-item{
    background-color: black;
}